/* HarvestMenuRibbon.css */

.harvest-menu-ribbon {
  background: var(--harvest-menuribbon-bg);
  --on-ribbon-rgb: var(--harvest-on-menuribbon-rgb);
  color: rgb(var(--on-ribbon-rgb, 255 255 255) / 0.9);
}
